/* * GENERAL STYLE RULES */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

:root {
	--PRIMARY-COLOR: #fd6e0a;
	--CONTENT-COLOR: #1e1e1e;
	--HERO-BG: #fff8f3;
}

html {
	color: var(--CONTENT-COLOR);
	font-size: 62.5%;
}

/* * COMMON STYLE PATTERN */

button {
	padding: 2rem 3rem;
	letter-spacing: 0.5px;
	border: none;
	background-color: transparent;
	font-weight: 700;
	border-radius: 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1rem;
}

/* * HEADER SECTION STYLE */

header {
	position: relative;
	background: var(--HERO-BG) url("images/header_bg.png") no-repeat right bottom;
}

.header_bg {
	position: absolute;
	height: 70rem;
	top: 50%;
	left: 23px;
	transform: translate(50%, -50%);
}

/* * NAV CSS */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 23rem;
	margin: 0 auto;
}

.header_logo {
	font-size: 4.5rem;
	font-weight: 800;
	letter-spacing: 1px;
	cursor: pointer;

	& .logo_letter {
		color: var(--PRIMARY-COLOR);
	}
}

nav > ul {
	display: flex;
	align-items: center;
	gap: 5rem;
	list-style-type: none;
}

.nav_link {
	color: var(--CONTENT-COLOR);
	font-size: 2rem;
	letter-spacing: 0.5px;
	font-weight: 500;
}

.btn {
	font-size: 2rem;
	color: #fff;
	background-color: var(--PRIMARY-COLOR);
}

/* * HERO SECTION CSS */

.hero_content {
	max-width: 50rem;
}

.hero_section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 5rem;
	padding-left: 23rem;
}

.hero_intro {
	font-size: 4.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.hero_developer {
	font-size: 8.5rem;
	font-weight: 700;
}

.hero_text {
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.8;
	margin: 2rem 0;
}

.developer_image {
	width: 90%;
}

.hero_buttons {
	display: flex;
	gap: 3rem;
}

.contact_btn {
	font-size: 2rem;
	border: 2px solid var(--PRIMARY-COLOR);
	color: var(--PRIMARY-COLOR);
}

/* * MAIN SECTION STYLE */

main {
	max-width: 114rem;
	margin: 0 auto;
}

/* * ABOUT SECTION CSS */

.about_section {
	background-color: var(--HERO-BG);
	margin: 15rem auto;
	text-align: center;
	padding: 13rem;
}

.secondary_heading {
	font-size: 3.5rem;
	font-weight: 700;
	margin-bottom: 3rem;
}

.secondary_text {
	font-size: 1.7rem;
	line-height: 1.8;
	margin-bottom: 4rem;
	letter-spacing: 0.5px;
}

.about_data {
	display: flex;
	justify-content: center;
	gap: 5rem;
}

.about_article {
	font-size: 2rem;

	& p {
		margin-bottom: 0.5rem;
	}
}

/* * SERVICE SECTON CSS */

.service_section {
	margin: 15rem auto;
	text-align: center;
}

.service_skills {
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.service_text {
	max-width: 90rem;
	margin: 3rem auto 4rem;
}

.skill {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 3rem;
	text-align: left;
	border-radius: 0.5rem;

	& h3 {
		font-size: 2rem;
		font-weight: 700;
		margin: 1.5rem 0;
	}

	& p {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.8;
	}
}

/* ? RESUME SECTION CSS */

.resume_section {
	margin: 15rem auto;

	& h2 {
		text-align: center;
	}
}

.resume_details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;
	margin-top: 10rem;
}

.resume_heading {
	font-size: 3rem;
	font-weight: 700;
}

.resume_article {
	max-width: 50rem;
}

.resume_article h3 {
	font-size: 2.5rem;
	font-weight: 700;
	margin: 1rem 0;
}

.resume_article p:nth-child(2) {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

.resume_article p:nth-child(3) {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8;
	margin-bottom: 3rem;
}

.resume_section button {
	margin: 2rem auto;
}

/* ? FOOTER */

footer {
	max-width: 100%;
	background-color: var(--HERO-BG);
	display: grid;
	grid-template-columns: 60fr 40fr;
	gap: 10rem;
	justify-content: start;
	padding: 15rem 23rem;

	& input,
	textarea {
		border: none;
		outline: none;
		display: block;
		padding: 1.5rem 4rem;
		width: 46rem;
		margin: 2rem 0;
		font-size: 1.7rem;
	}
}

.footer_col01 p {
	letter-spacing: 0.5px;
	margin-bottom: 2rem;
}

.footer_icons ion-icon {
	height: 2.5rem;
	width: 2.5rem;
	margin-right: 2rem;
	color: var(--PRIMARY-COLOR);
}
